.accordion-content-header {
    text-decoration: underline;
    font-weight: bold;
}

.vaccination-description {
    display: inline-block;
    width: 90%;
}

.divider {
    display: inline-block;
}

.arrow-icon {
    display: inline-block;
}

.extend-full-height {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
}