body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.chakra-divider {
  opacity: 1 !important;
}

.timeline-verticalstyles__TimelineVerticalWrapper-sc-1427v1d-0 {
  padding: 0 !important;
  overflow: hidden;
}

.timeline-card-content {
  border-radius: 12px !important;
}

.timelinestyle__Wrapper-sc-cif21b-0 {
  padding-right: 6vw;
}

.timeline-main-wrapper::-webkit-scrollbar {
  display: none;
}